flow_Asier.json
[
    {
        "id": "1c5e2cdf2ee4cc9e",
        "type": "tab",
        "label": "Flow 15",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "195782aa768aa6e3",
        "type": "ui_chart",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "group": "55ada54d49867386",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c62f0dcdab7ff4be",
        "type": "mqtt in",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/sensores/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "d436d50b8967865e"
            ]
        ]
    },
    {
        "id": "d7e509b61b9e4c2b",
        "type": "mqtt out",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/actuadores/led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "c99d04998d8082ed",
        "type": "mqtt out",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/actuadores/rele",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f0cb8b30b009331d",
        "type": "mqtt out",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/actuadores/son",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "d3a81b81b147becd",
        "type": "ui_button",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "group": "f68893dd7add858b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Botón principal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "d7e509b61b9e4c2b",
                "f0cb8b30b009331d",
                "c99d04998d8082ed"
            ]
        ]
    },
    {
        "id": "e4af15afdde6ce8b",
        "type": "ui_text",
        "z": "1c5e2cdf2ee4cc9e",
        "group": "55ada54d49867386",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luminosidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "d436d50b8967865e",
        "type": "ui_gauge",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "group": "55ada54d49867386",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "ad812b24f5dde2c8",
        "type": "mqtt in",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/sensores/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "195782aa768aa6e3"
            ]
        ]
    },
    {
        "id": "0a4d2c4e5f565596",
        "type": "mqtt in",
        "z": "1c5e2cdf2ee4cc9e",
        "name": "",
        "topic": "maqueta3/sensores/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 600,
        "wires": [
            [
                "e4af15afdde6ce8b"
            ]
        ]
    },
    {
        "id": "55ada54d49867386",
        "type": "ui_group",
        "name": "Maqueta3 Sensores",
        "tab": "26f6b5a4100c324f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03d08d9152813fbc",
        "type": "mqtt-broker",
        "name": "VPS_mqtt3",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f68893dd7add858b",
        "type": "ui_group",
        "name": "Maqueta3 Actuadores",
        "tab": "26f6b5a4100c324f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26f6b5a4100c324f",
        "type": "ui_tab",
        "name": "Maqueta3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]